

<div id='survey' class="container">
    <form (submit)="addDriver()">
            <div class="form-group">
            <label> Address</label>
            <input type="text" [(ngModel)]="address" name ="address" class="form-control">
            <input type="submit" class="btn btn btn-success" value="Add">
            </div>
    </form>

</div>
<div class="container">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=12PNfin0tDbjmD3Abjo5CN1EI-J9D8yuV" width="640" height="480"></iframe></div>

  